<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <form>
    <fieldset>
      <legend>로그인</legend>
      아이디<input type="text" name="id" id="">
      <br>
      비밀번호<input type="password" name="password" id="">
      <button type="button" onclick="dynamicForm();">로그인</button>
      <br>
      <div></div>
    </fieldset>
  </form>

  <script>
    var answer_id = "jiung"
    var answer_password = "123"

    function dynamicForm() {
      var form = document.querySelector("form");
      var data = {
        id: form.id.value,
        password: form.password.value
      }

      axios({
        url: '/get/axios',
        method: 'GET', //POST일 경우
        params: data //params -> data
      }).then((response) => {
        console.log(response);
        if ((response.data.id == answer_id) && (response.data.password == answer_password)) {
          $("div").html("로그인에 성공했습니다.");
        } else {
          $("div").html("로그인에 실패했습니다.");
        }
      })
    }
  </script>
</body>

</html>