<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <form>
    <fieldset>
      <legend>로그인</legend>
      <input type="hidden" name="name">
      아이디<input type="text" name="id" id="">
      <br>
      비밀번호<input type="password" name="pw" id="">
      <input type="button" value="로그인" onclick="dynamicForm();">
      <a href="/signUp"><button type="button">회원가입</button></a>
      <br>
      <div></div>
    </fieldset>
  </form>

  <script>
    function dynamicForm() {
      var form = document.querySelector("form");
      var data = {
        id: form.id.value,
        name: form.name.value,
        pw: form.pw.value
      }

      axios({
        url: '/login',
        method: 'post', //POST일 경우
        data: data //params -> data
      }).then((response) => {
        if (response.data.length > 0) {
          alert("로그인됐다");
          location.href = `/loggedin?id=${data.id}`;
        } else {
          alert("아이디 혹은 비밀번호가 틀렸습니다.");
          location.href = "/";
        }
      })
    }
  </script>
</body>

</html>