<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <fieldset>
    <legend>개인 정보</legend>
    <form>
      아이디: <input type="text" name="ID">
      <br>
      비밀번호: <input type="password" name="password">
      <br>
      이름: <input type="text" name="name">
      <br>
      나이: <input type="text" name="age">
      <br>
      프로필 사진:
      <input type="file" name="userfile" id="dynamic_file">
      <br>
      <button type="reset">리셋</button>
      <button type="button" onclick="fileUpload();">회원가입</button>
      <img src="" alt="">
    </form>
  </fieldset>

  <script>
    function fileUpload() {
      var form = document.querySelector("form");
      const formData = new FormData();      // 파일 담아 전달할 form 생성
      const file = document.getElementById("dynamic_file");
      formData.append("ID", $('input[name="ID"]').val());   // 파일 이외에도 전달할 값을 form에 추가
      formData.append("userfile", file.files[0]);           // 전달할 파일 form에 추가

      axios({
        headers: {
          "Content-Type": "multipart/form-data",
        },
        url: "/upload",
        method: "post",
        data: formData          // formData 전송
      }).then((response) => {
        console.log(response);
        console.log(response.data.path);
        $("img").attr("src", response.data.path);       // 응답으로 온 이미지 경로를 통해 화면에 이미지 표시
      })
    }
  </script>
</body>

</html>